.button .f7-icons{
	font-weight:bold;
}
.half-sheet{
	min-height:50vh;
}
.full-sheet{
	min-height:100vh;
	
}
.tq-sheet{
	min-height:75vh;
	
}
.clearfix::after{display:block;content:"";clear:both}
.block.passcode-input {
      position: relative;
      z-index: 5;
    }
    .block.passcode-numpad {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      margin-bottom: 0;
      max-width: none;
      z-index: 10;
    }         
#demo-numpad-inline {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      .border-box();
      border: none;
      background: none;
      border-radius: 0 0 0 0;
      .box-shadow(none);
      display: block;
      padding: 0 0 0 5px;
      margin: 0;
      width: 100%;
      height: 43px;
      color: #999;
      font-size: 17px;
      font-family: inherit;
      letter-spacing: 5px;
      text-align: center;
      font-size: 25px;
      font-weight: 300;
    }
.center-screen{
	width:100%;
	height:100px;
	margin:auto;
	text-align:center;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	
}
.text-center{
	text-align:center;
}
.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}
.header{
	width:calc(100%-20px);
	height:auto;
	text-align:center;
	margin-top:-20px;
	padding:10px;
}
.page-content{
	padding:0px 10px 0px 10px;
}
.header h1{
	/*color:white;*/
	text-shadow:0px 0px 5px gray;
	padding:20px auto 20px auto;
}
.header p{
	/*color:white;*/
	text-shadow:0px 0px 5px gray;
	padding:20px auto 20px auto;
}
.statusbar {
  background: blue;
  /* We can add transition for smooth color animation */
  transition: 400ms;
}
html.with-panel-left-cover .statusbar {
  background: gray;
}
.error-report{
	width:100%;
	text-align:center;
	color:gray;
	border-top:1px solid gray;
	opacity:0.5;
}